#container {
    background-color: #648DE5;
    border: 2px solid black;
    display: grid;
    gap: 5px 5px;
    grid-template-areas:
        "output output output output"
        "output output output output"
        "clear clear clear clear"
        "seven eight nine divide"
        "four five six multiply"
        "one two three minus"
        "zero dot equal plus";
    height: 400px;
    margin: 50px auto;
    padding: 25px;
    width: 300px;
}

#output {
    background-color: #9EB7E5;
    display: grid;
    grid-area: output;
}

#output > span {
    align-self: end;
    font: 35px 'Courier New', sans-serif;
    justify-self: end;
    margin: 10px;
}

#clear {
    grid-area: clear;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#divide {
    grid-area: divide;
}

button {
    background-color: #304C89; 
    border: 0px;
    height: 100%;
    font: 20px 'Trebuchet MS', sans-serif;
    width: 100%;
}